@use '../../../styles/mixins';

.btnLight {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--btn-text-color);
  border-radius: 10.3108px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function),
    border-color var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
  &:hover {
    background-color: var(--background-btn-second-color);
    border-color: var(--background-btn-second-color);
    box-shadow: var(--hover-box-shadow);
    color: var(--btn-text-color);
  }
}
