.services {
  width: 100%;
  background-color: var(--main-color);
  margin-bottom: 50px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
  }

  &__titleContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 450px;
  }

  &__titleImg {
    width: 160px;
    height: 180px;
    background-image: url('../../images/advantege/tooth.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__titleImg::after {
    content: '';
    position: absolute;
    width: 160px;
    height: 180px;
    background: rgba(255, 255, 255, 0.8);
  }

  &__titleTextContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
    color: var(--accent-color);
  }

  &__titleOther {
    font-weight: 400;
    color: var(--second-text-color);
  }

  &__textBox {
    width: 100%;
    text-align: center;
  }

  &__text {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }

  &__titleCard {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: var(--accent-color);
  }

  &__mainListText {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }

  &__mainListText::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 2px solid #017683;
    border-radius: 50%;
    background: transparent;
    margin-bottom: 3px;
  }

  &__main {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-row-gap: 70px;
    grid-column-gap: 30px;
    width: 100%;
  }

  &__mainCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 330px;
    padding: 30px 0;
    border: 2px solid var(--accent-color);
    background-color: var(--main-color);
    transition: background-color 0.5s ease;
    &:hover {
      border-color: var(--background-btn-second-color);
      box-shadow: var(--hover-box-shadow);
    }
  }

  &__mainCard:hover {
    background-color: var(--add-background-color);
    cursor: pointer;
  }

  &__mainImg {
    position: absolute;
    top: -47px;
    left: 0;
    right: 0;
    margin: auto;
    width: 95px;
    height: 95px;
    transition: background-color 0.5s ease;
    background-color: var(--main-color);
    border-radius: 50%;
  }

  &__mainCard:hover &__mainImg {
    background-color: var(--add-background-color);
  }

  &__mainlist {
    width: 100%;
    padding: 10px 20px;
  }
}
