.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-color);
  z-index: 1000;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }

  &__part {
    position: absolute;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__partClinic {
    display: grid;
    gap: 7px;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: var(--text-color);
  }
}
