.slide {
  width: 100%;
  height: 420px;
  background: linear-gradient(to right, #ffffff 30%, #017683);

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__part {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 450px;
  }

  &__title {
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
    text-align: left;
    color: var(--accent-color);
    text-align: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
    text-align-last: auto;
  }

  &__titleFirst {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    text-align: left;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 25px;
    text-align: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
    text-align-last: auto;
  }

  &__link {
    margin-bottom: 10px;
  }
}
